#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Popup specific styles */
.popup-root {
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  background: #ff9100;
}

.canvas {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin: 4px;
  border-radius: 4px;
}

.toolbar {
  padding: 4px;
  display: flex;
  gap: 8px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  min-width: 32px;
  height: 32px;
}

.toolbar_icon {
  width: 32px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
